.grid {
  background-image: url('../images/grid.png');
  position: absolute;
  top: 0;
  left: 0;
  height: 88%;
  width: 100%;
  opacity: .5;
}

.carousel-container {
  position: relative;
}

.carousel {
  position: relative;
  height: 300px;
  border: 7px solid #fff;
  margin-top: 10px;
  box-sizing: border-box;
}

.carousel1{
  background-image: url('../images/top-image.png');
  background-size: 152%;
  background-position-x: -133px;
  background-position-y: -121px;
  width: 100%;
  height: 100%;
}

.carousel2 {
  background-image: url('../images/sk8er-2.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.carousel3 {
  background-image: url('../images/sk8er-4.png');
  background-size: 122%;
  background-position-x: -154px;
  background-position-y: -73px;
  width: 100%;
  height: 100%;
}

.logo {
  background-image: url('../images/peralta-logo.png');
  width: 43%;
  height: 70%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 14%;
  left: -4%;
  z-index: 2;
}

.carousel-buttons {
  text-align: center;
  font-size: .8em;
  margin-top: 15px;
}

.carousel-buttons i:hover {
  cursor: pointer;
}
