header {
  font-family: $fontFamily;
  color: #fff;
}

.subscribe {
  position: relative;
  height: 50px;
  span {
    color: #fff;
    font-size: .7em;
    position: absolute;
    right: 34%;
    top: 25%;
    i {
      font-size: 4px;
      vertical-align: middle;
      margin-left: 15px;
    }
  }
  ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    position: absolute;
    right: 0;
    &:before {
      content: '\f111 \00a0 \00a0 \f111 \00a0 \00a0 \f111 \00a0 \00a0 \f111 \00a0 \00a0 \f111';
      transform: rotate(90deg);
      font-size: 4px;
      font-family:fontawesome;
      display: inline-block;
      margin-top: 17px;
      vertical-align: top;
    }
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        li {
          box-shadow: 0px 2px rgba(255,255,255,1);
          i {
            opacity: 1;
          }
        }
      }
      &:nth-child(1) {
        li {
          background-color: rgb(59,89,152);
        }
      }
      &:nth-child(2) {
        li {
          background-color: rgb(242,101,34);
        }
      }
      &:nth-child(3) {
        li {
          background-color: rgb(64,153,255);
        }
      }
      &:nth-child(4) {
        li {
          background-color: rgb(205,32,31);
        }
      }
      li {
        display: inline-block;
        padding: 10px;
        width: 20px;
        text-align: center;
        i {
          opacity: .5;
          font-size: 1.5em;
        }
      }
    }
  }
}

/* Main Nav Styles */

.main-nav {
  margin-top: 10px;
  font-size: .8em;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    a li {
      display: inline-block;
      width: 23.5%;
      background-color: #B4292E;
      text-align: center;
      color: #fff;
      padding: 4px;
      &:before , &:after {
        content: '\2014';
        font-family: 'Open Sans';
        font-weight: bolder;
      }
      &:before {
        margin-right: 10px;
      }
      &:after {
        margin-left: 10px;
      }
      &:hover {
        box-shadow: 0px 2px rgba(255,255,255,1);
      }
    }
  }
}
