.skaters {
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner {
  background-color: #B4292E;
  position: absolute;
  left: -26%;
  top: 17%;
  padding: 19px 15px;
  color: #fff;
  font-family: $fontFamily;
  font-size: 1em;
  box-sizing: border-box;
  font-weight: bold;
  padding-right: 0;
  box-shadow: 0px 2px rgba(255,255,255,0.25);
  &::before {
    content: '';
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-left: 18px solid rgba(255,255,255,0.25);
    position: absolute;
    right: -49px;
    top: 2px;
  }
  &::after {
    content: '';
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-left: 18px solid #B4292E;
    position: absolute;
    right: -48px;
    top: 0;
  }
}

.skater-right {
  display: inline-block;
  width: 31.9%;
  height: 350px;
  vertical-align: top;
  margin-left: 1.4%;
}

.skater-right > div {
  background-image: url('../images/sk8er-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 78%;
  width: 100%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: 4px solid #fff;
  position: relative;
}

.skater-left {
  display: inline-block;
  width: 66%;
  height: 350px;
  vertical-align: top;
}

.skater-left > div:nth-child(1) {
  background-image: url('../images/sk8er-4.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 100%;
  width: 48.5%;
  height: 49%;
  display: inline-block;
  box-sizing: border-box;
  border: 4px solid #fff;
  position: relative;
}

.skater-left > div:nth-child(2) {
  background-image: url('../images/sk8er-3.png');
  background-size: cover;
  width: 48.5%;
  height: 49%;
  display: inline-block;
  box-sizing: border-box;
  border: 4px solid white;
  margin-left: 2%;
  position: relative;
}

.skater-left > div:nth-child(3) {
  background-image: url('../images/sk8er-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 96%;
  width: 100%;
  height: 48%;
  display: inline-block;
  box-sizing: border-box;
  border: 4px solid #fff;
  margin-top: 1.5%;
  position: relative;
}

.skaters span {
  color: #fff;
  font-family: "Open Sans";
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  display: inline-block;
  line-height: 1;
  position: absolute;
  top: 35%;
}

.skater-left div:nth-child(3) span {
  left: 20%;
}
