/* Background Styles */
body {
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.background-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}

/* Container Styles */

.main-container {
  width: 50%;
  margin: 0 auto;
}

/* Header Styles */
header {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
/* Subscribe Nav Styles */

.subscribe {
  position: relative;
  height: 50px;
}

.subscribe span {
  color: #fff;
  font-size: .7em;
  position: absolute;
  right: 34%;
  top: 25%;
}

.subscribe span i {
  font-size: 4px;
  vertical-align: middle;
  margin-left: 15px;
}

.subscribe ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  position: absolute;
  right: 0;
}

.subscribe ul:before {
  content: '\f111 \00a0 \00a0 \f111 \00a0 \00a0 \f111 \00a0 \00a0 \f111 \00a0 \00a0 \f111';
  transform: rotate(90deg);
  font-size: 4px;
  font-family:fontawesome;
  display: inline-block;
  margin-top: 17px;
  vertical-align: top;
}

.subscribe ul a li {
  display: inline-block;
  padding: 10px;
  width: 20px;
  text-align: center;
}

.subscribe ul a:hover li {
  border-bottom: 2px solid lightgray;
}

.subscribe ul a:hover li i {
  opacity: 1;
}

.subscribe ul a:nth-child(1) li {
  background-color: rgb(59,89,152);
}

.subscribe ul a:nth-child(2) li {
  background-color: rgb(242,101,34);
}

.subscribe ul a:nth-child(3) li {
  background-color: rgb(64,153,255);
}

.subscribe ul a:nth-child(4) li {
  background-color: rgb(205,32,31);
}

.subscribe ul a {
  text-decoration: none;
  color: #fff;
}

.subscribe ul a li i {
  opacity: .5;
  font-size: 1.5em;
}

/* Main Nav Styles */

.main-nav {
  margin-top: 10px;
  font-size: .8em;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav ul a li {
  display: inline-block;
  width: 23.5%;
  margin-right: 2%;
  background-color: #B4292E;
  text-align: center;
  color: #fff;
  padding: 4px;
}

.main-nav ul a li:before, .main-nav ul a li:after {
  content: '\2014';
  font-family: 'Open Sans';
}

.main-nav ul a li:before {
  margin-right: 10px;
}

.main-nav ul a li:after {
  margin-left: 10px;
}

.main-nav ul a li:last-child {
  margin-right: 0;
}

.main-nav ul a li:hover {
  border-bottom: 2px solid lightgray;
}
